@import "bourbon/bourbon";
@import "neat/neat";
@import "breakpoints";

body {
  // margin: 0;
  font-family: Helvetica, sans-serif;
}

aside, main {
  display: inline-block;
  float: left;
}

aside {
  @include grid-column(2);
  background-color: #333;
  // margin: 0;
}

main {
  @include grid-container;
  @include grid-visual;
  @include grid-column(10);
  margin: 0;

  nav ul {
    @include display(flex);
    @include flex-wrap(wrap);

    li {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);

      background-color: rgba(0, 0, 0, 0.5);

      @include grid-media($small) {
        width: 50%;
        max-width: 50%;
      }

      @include grid-media($medium) {
        width: 33%;
        max-width: 33%;
      }

      @include grid-media($large) {
        width: 20%;
        max-width: 20%;
      }

      @include grid-media($xlarge) {
        width: 25%;
        max-width: 25%;
      }

      img {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        // height: 100%;
        width: 100%;
        // max-width: 80%;
      }
    }
  }
}

footer {
  @include grid-container;
  @include grid-column(12);
}

// aside {
//   ul {
//     list-style-type: none;
//     display: flex;
//     flex-direction: column;
//     position: relative;
//     top: 200px;
//     left: 35px;
//   }
//
//
//   button {
//     height: 30px;
//     width: 30px;
//
//
//     background-size: 25px 25px;
//     background-position:  center;
//
//     &[name="work"]{
//       background-image:  url("../images/icons/aside-work.svg");
//     }
//     &[name="education"]{
//       background-image:  url("../images/icons/aside-education.svg");
//     }
//     &[name="accolades"]{
//       background-image:  url("../images/icons/aside-accolades.svg");
//     }
//     &[name="skills"]{
//       background-image: url("../images/icons/aside-skills.svg");
//       }
//     }
//   }
//
//   //added container w display flex value-Cassie
//   .container{
//     display: flex;
//     background-color: purple;
//   }
// }
