@import "bourbon/bourbon";
@import "neat/neat";
@import "breakpoints";

body {
  background-color: #fff;
  font-family: Helvetica, sans-serif;
}

section {
  @include grid-column(12);
  @include grid-collapse;

  aside {
    @include grid-column(1, $parent);
    //max-width: 12.5%;
    background-color: #333;

    button {
      width: 30px;
      height: 30px;
      background-size: 25px 25px;
      background-position: center;

      &[name="work"] {
      background-image: url("../images/icons/aside-work.svg");
      }

      &[name="education"] {
        background-image: url("../images/icons/aside-education.svg");
      }

      &[name="accolades"] {
        background-image: url("../images/icons/aside-accolades.svg");
      }

      &[name="skills"] {
        background-image: url("../images/icons/aside-skills.svg");
      }
    }
  }

  main {
    @include grid-container;
    @include grid-column(7, $parent);
    //max-width: 87.5%;
    margin: 0;

    nav ul {
      @include grid-media($small){
          // width: 50%;
          // max-width: 50%;
        @include grid-column(1);
      }

      @include grid-media($medium){
        @include grid-column(1);
        // width: 33%;
        // max-width: 33%;
      }

      @include grid-media($large){
        @include grid-column(1);
        // width: 20%;
        // max-width: 20%;
      }

      @include grid-media($xlarge){
        @include grid-column(1);
        // width: 25%;
        // max-width: 25%;
      }

      li {
        @include align-items(center);
        @include justify-content(center);

        width: 100%;
        margin: 0 10px 10px 0;
        background-color: #fff;

        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);

        a {
          width: 100%;
          height: auto;
          text-align: center;

          picture {
            display: block;
            padding: 20% 0;

            img {
              width: auto;
              max-width: 60%;
            }
          }
        }
      }
    }
  }
}

footer {
  @include grid-container;
  @include grid-column(12);
}
